# Django settings
DEBUG=False
SECRET_KEY='django-insecure-....'
ALLOWED_HOSTS=localhost,127.0.0.1
HEALTH_CHECK_TOKEN="secret123" # Bearer token
GUNICORN_WORKERS=1 # количество воркеров для Gunicorn (2 * {CPU Cores}) + 1

# путь к сертификату если требует база данных
# при запуске в Docker генерируется автоматически
SSL_CA='/etc/ssl/certs/ca-certificates.crt' # стандартный путь для Debian/Ubuntu

# SuperUser (только для полного запуска в Docker)
# Cоздает супер пользователя если еще нету
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@email.com
DJANGO_SUPERUSER_PASSWORD=123456789

# MySQL Database
DB_NAME=django_db
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=db
DB_PORT=3306

#S3
USE_S3=True
AWS_ACCESS_KEY_ID="..."
AWS_SECRET_ACCESS_KEY="..."
AWS_STORAGE_BUCKET_NAME="..."
AWS_S3_ENDPOINT_URL="..."
AWS_S3_REGION_NAME='us-east-1'
