:root {
  --red: #ff342b;
  --blue: #0b3d91;
  --black: #0d0f12;
  --dark: #17191d;
  --gray: #1f242c;
  --light-gray: #c3cddd;
  --white: #fff;

  // Bootstrap variables
  --bs-font-sans-serif: "Montserrat", sans-serif;
  --bs-blue: var(--blue);
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: var(--red);
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: var(--white);
  --bs-gray: var(--gray);
  --bs-gray-dark: #343a40;
  --bs-primary: var(--blue);
  --bs-secondary: var(--gray);
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: var(--light-gray);
  --bs-dark: var(--dark);
}
