.about-section {
  background: var(--black);

  &___text {
    max-width: 750px;
  }

  &__advantages {
    margin-top: 5.625rem;

    @media (max-width: $br-md) {
      margin-top: 2rem;
    }
  }

  &__advantages-img {
    @media (max-width: $br-lg) {
      max-width: 550px;
    }
  }
}
