.about-section {
  background: var(--black);
  padding: 5.625rem 0;

  &__text {
    max-width: 750px;
    // font-weight: 400;
    // font-size: 18px;
    // line-height: 167%;
    // letter-spacing: 0.02em;
    // color: var(--light-gray);
  }

  &_advantages {
    margin-top: 5.625rem;
  }
}
