body {
  color: var(--white);
  background: var(--gray);
  font-size: 16px;
}

.navbar {
  margin: 0;
  padding-left: 0;
}

.nav-item {
  list-style: none;
}

.section {
  padding: 5.625rem 0;
}

.slick-track {
  margin: 0 !important;
}
