body {
  color: var(--white);
  background: var(--gray);
  font-size: 16px;

  @media (max-width: $br-xl) {
    font-size: 14px;
  }
}

.navbar {
  margin: 0;
  padding-left: 0;
}

.nav-item {
  list-style: none;
}

.section {
  padding: 5.625rem 0;

  @media (max-width: $br-md) {
    padding: 3rem 0;
  }
}

.slick-track {
  margin: 0 !important;
}
