@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.02em;

  @media (max-width: $br-md) {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 2.625rem;
  letter-spacing: 0.02em;

  @media (max-width: $br-md) {
    font-size: 2rem;;
  }
}

.fs-6 {
  font-size: 1.125rem !important;

  @media (max-width: $br-md) {
    font-size: 1rem !important;
  }
}

.text-light {
  color: var(--light-gray) !important;
}

.lh-lg {
  line-height: 1.75 !important;
}
