{% load static %}

<header class="py-3 bg-dark">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="row g-0 align-items-center">
          <div class="col-auto d-md-none">
            <div class="dropdown">
              <button
                class="header__mobile-menu-toggle btn btn-sm"
                type="button"
                id="DropdownMenu"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {% include 'includes/_icon.html' with name='mobile-menu-icon' class='header__mobile-menu-toggle-icon' %}
              </button>

              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="DropdownMenu">
                <li><a class="dropdown-item" href="#">Преимущества</a></li>
                <li><a class="dropdown-item" href="#">Фотографии</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <a href="/">
              <img
                src="{% static 'images/logo.png' %}"
                width="77"
                height="64"
                alt="Logo"
                class="logo"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-auto d-none d-md-block">
        <nav class="header__nav">
          <ul class="navbar">
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#">Преимущества</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase" href="#">Фотографии</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-danger text-uppercase">
          Вход
        </button>
      </div>
    </div>
  </div>
</header>
