$side-padding: 5.5rem;
$nav-slide-margin: 1.875rem;
$nav-slide-margin-md: 1rem;
$nav-slide-margin-sm: 0.7rem;

.slider {
  &__main {
    .slick-slide {
      img {
        object-fit: cover;
      }
    }
  }

  &__main-container,
  &__nav-container {
    position: relative;
  }

  &__main-container {
    padding: 0 $side-padding;

    @media (max-width: $br-md) {
      padding: 0;
    }
  }

  &__nav-container {
    padding: 0 ($side-padding - $nav-slide-margin);

    @media (max-width: $br-xl) {
      padding: 0 ($side-padding - $nav-slide-margin-md);
    }

    @media (max-width: $br-md) {
      padding: 0;
      margin: 0 (-$nav-slide-margin-sm);
    }
  }

  &__nav-btn {
    border-radius: 50% !important;
    padding: 0.75rem !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media (max-width: $br-md) {
      display: none !important;
    }

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }
  }

  &__nav-btn-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__nav-item {
    margin: $nav-slide-margin;

    @media (max-width: $br-xl) {
      margin: $nav-slide-margin-md;
    }

    @media (max-width: $br-md) {
      margin: $nav-slide-margin-sm;
    }

    &.slick-current {
      img {
        border: 2px solid var(--white);
      }
    }
  }
}
