{% load sekizai_tags thumbnail %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.css"
/>
{% endaddtoblock %}

<div class="slider">
  <div class="slider__main-container">
    <div class="slider__main shadow">
      {% for slide in slides %}
      <a
        class="ratio ratio-4x3"
        href="{{ slide.image.url }}"
        data-fancybox="gallery"
      >
        <img class="rounded" src="{% thumbnail slide.image 945x529 crop %}" width=945 height=529 alt="{{ slide.title }}" />
      </a>
      {% endfor %}
    </div>
  </div>


  <div class="slider__nav-container">
    <button class="slider__nav-btn slider__nav-btn--prev btn btn-danger" type="button">
      {% include 'includes/_icon.html' with name='arrow-left' class='slider__nav-btn-icon' %}
    </button>


    <div class="slider__nav">
      {% for slide in slides %}
      <div class="slider__nav-item ratio ratio-1x1">
        <img class="rounded" src="{% thumbnail slide.image 165x165 crop %}" width="165" height="165" alt="{{ slide.title }}" />
      </div>
      {% endfor %}
    </div>

    <button class="slider__nav-btn slider__nav-btn--next btn btn-danger" type="button">
      {% include 'includes/_icon.html' with name='arrow-right' class='slider__nav-btn-icon' %}
    </button>
  </div>
</div>

{% addtoblock "js" %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.1/dist/fancybox/fancybox.umd.js"></script>

<script>
  $(document).ready(function () {
    // Основной слайдер
    $(".slider__main").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      dots: false,
      asNavFor: ".slider__nav",
    });

    // Навигация
    $(".slider__nav").slick({
      slidesToShow: 5,
      slidesToScroll: 1,
      asNavFor: ".slider__main",
      prevArrow: ".slider__nav-btn--prev",
      nextArrow: ".slider__nav-btn--next",
      dots: false,
      centerMode: true,
      focusOnSelect: true,
      centerPadding: "0",
      responsive: [
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 4
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 3
          }
        }
      ]
    });
  });


  Fancybox.bind('[data-fancybox="gallery"]', {
    on: {
        "Carousel.change": (fancyboxRef, carouselRef) => {
        $(".slider__nav").slick('slickGoTo', fancyboxRef.getSlide().index);
      }
    },
  });
</script>
{% endaddtoblock %}
